
*{margin:0;padding:0;font-size:12px;line-height:20px;font-family:宋体}

/*顶部固定区域*/
.fixed{width:100%;position:fixed;margin-top:0;background:#ffffff;padding-top:10px;}
.buttons{float:right;margin-top:-35px;margin-right:15px;}
.button{padding:0 16px;height:26px;line-height:26px;font-size:13px;background:url(../../images/xm_appln/icon_button_normal.png) repeat-x;color:#fff;border:1px solid #026294;cursor:pointer;text-shadow:1px 1px 1px #1c6bae;}
.button:hover{background:url(../../images/xm_appln/icon_button_hover.png) repeat-x;}
h1{font-size:20px;font-weight:normal;color:#313439;line-height:40px;border-bottom:2px solid #1c6bae;margin-bottom:15px;margin:0 15px;}
/*表单*/
form{padding-top:67px;padding-bottom:15px;margin:0 17px 0 15px;}

.box{border:1px solid #547586;width:99.5%;margin-bottom:2px;}
.box table{width:100%;}

.box .title{background:#ebebeb;font-weight:bold;}
.box .title:hover{color:#c00e0c}
.box .title img{float:right;}

.box .message{color:#505050;}
.box .message .label{padding:0 10px;}

/*tab*/
.tags{margin-left:10px;margin-top:10px;height:30px;}
.tags li{list-style:none;border:1px solid #5facd8;width:60px;text-align:center;line-height:30px;font-weight:bold;color:#505050;display:inline-block;float:left;margin-left:-1px;}
.tags .active{background:#5facd8;color:#ffffff;}
.Content{border:1px solid #5facd8;width:98%;position:relative;margin:1px 10px;margin-top:-1px\9;margin-bottom:10px;}
.tagContent{display:none;}
.selectTag{display:block}

.display{display:none;}

/*日历*/
.box .date{border-collapse:collapse;width:280px;}
.box .date td{border:1px solid #c4dbf2;text-align:center;height:20px;color:#505050;background:#f8f8f8;font-size:13px;font-family:Arial;}

/*input[type=text]*/
.text{height:18px;width:160px;border:1px solid #ababab;line-height:18px;font-size:13px;}
.mini{width:60px;}
.small{width:80px;}
.middle{width:100px;}

/*select*/
select{height:18px;width:160px;border:1px solid #7d7d7d;}

span{display:inline-block;width:160px;color:blue;}

.information{width:100%;}
.information table{width:100%;color:#505050;}
.information table td{line-height:25px;}
.information .title{font-weight:bold;}
.border{background:#5facd8;width:100%;height:1px;margin:5px 0;}

.error {font-family:Microsoft YaHei, Arial, Helvetica;color:red;font-weight:bold;}